<div class="main users-new">
  <div class="container text-center">
    <div class="test_user">
     <%= form_tag("/login") do %>
      <input name="email" value="test@yahoo.co.jp" type="hidden">
      <input name="password" value="testtest" type="hidden">
      <button type="submit" name="button" class="btn btn-info btn-lg w-50">お試しログイン</button>
      <!-- <input type="submit" name="commit" value="お試しログイン"　class="btn btn-info"> -->
      <% end %>
     </div>
     <div class="twitter_login">
       <button type="button" name="button" class="btn btn-info btn-lg w-50">twitterでログインする</button>
     </div>
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
       <%= form_tag("/login") do %>
        <p>メールアドレス</p>
        <input name="email">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</div>
