<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
       <%= form_tag("/login") do %>
        <p>メールアドレス</p>
        <input name="email">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
    <h2>簡単ログイン機能</h2>
    <div class="card card-containe">
     <p>テストユーザとしてログインできます。</p>
     <%= form_tag("/login") do %>
      <input name="email" value="test@yahoo.co.jp" type="hidden">
      <input name="password" value="testtest" type="hidden">
      <button type="submit" name="button" class="btn btn-info">お試しログイン</button>
      <!-- <input type="submit" name="commit" value="お試しログイン"　class="btn btn-info"> -->
      <% end %>
     </div>
  </div>
</div>
