<div class="main top-main">
  <div class="top-message">
    <h2>Golf-matching</h2>
    <p>ゴルファー専用のSNSアプリです。<br>
  　ゴルフに関する話題を投稿して、ゴルフ仲間を見つけましょう。</p>
    <div class="test_user">
     <%= form_tag("/login") do %>
      <input name="email" value="test@yahoo.co.jp" type="hidden">
      <input name="password" value="testtest" type="hidden">
      <button type="submit" name="button" class="btn btn-info btn-lg w-50">お試しログイン</button>
      <% end %>
     </div>
  </div>
</div>
